@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #654ea3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2e7ec9, #be2f6b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2e7ec9, #be2f6b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
  font-family: 'Chivo', sans-serif;
}